<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>URL Phishing Detection</title>
	</head>
	<body>
		<h1>URL Phishing Detection</h1>
		<form action="/predict" method="post">
			<label for="url">Enter URL:</label><br />
			<input type="text" id="url" name="url" /><br /><br />
			<input type="submit" value="Submit" />
		</form>

        <br>
    
        {{ prediction }}
        </br>
	</body>
</html>
